﻿<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@ViewData["Title"] - Task Tracker</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true"/>
    <link rel="stylesheet" href="~/TodoList.styles.css" asp-append-version="true"/>
</head>
<body class="dark-theme">
<header>
    <nav class="navbar nav-dark-theme navbar-expand-sm navbar-toggleable-sm navbar-dark bg-gray border-bottom box-shadow mb-3">
        <div class="container-fluid">
            <a class="navbar-brand mx-auto" asp-area="" asp-controller="TodoList" asp-action="Index">Task Tracker</a>

            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>
    </nav>
</header>
<div class="container body-container">
    <main role="main" class="pb-3">
        @RenderBody()
    </main>
</div>

<footer class="border-top footer text-muted"></footer>

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>
@await RenderSectionAsync("Scripts", required: false)
</body>
</html>

<style>
    input,
    textarea {
        background-color:#666;
        color: #FFF;
    }
    
    label,
     h1, h2,
     h3, h4{
        color: #FFF;
    }
    
    input:focus,
    select:focus,
    textarea:focus,
    button:focus {
        outline: none;
    }
    
    .card {
       background-color: #444;
       border: none;
    }
    
    .btn-primary {
       background-color: #007bff;
       border-color: #007bff;
    }
    .btn-primary:hover {
       background-color: #0056b3;
       border-color: #0056b3;
    }
    .btn-info {
        background-color: #31d2f2;
        border-color: #31d2f2;
    }
    .btn-info:hover {
       background-color: #2793a3;
       border-color: #2793a3;
    }
    
    svg.solid-white {
        filter: invert(100%);
    }
    svg.icon-center {
        display: block;
        margin: auto;
    }
</style>