﻿@{
    Layout = "_Layout";
}

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <svg class="bi bi-person-fill-add solid-white icon-center mb-3" xmlns="http://www.w3.org/2000/svg" width="160" height="160" fill="currentColor" viewBox="0 0 16 16">
                        <path d="M12.5 16a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7m.5-5v1h1a.5.5 0 0 1 0 1h-1v1a.5.5 0 0 1-1 0v-1h-1a.5.5 0 0 1 0-1h1v-1a.5.5 0 0 1 1 0m-2-6a3 3 0 1 1-6 0 3 3 0 0 1 6 0"/>
                        <path d="M2 13c0 1 1 1 1 1h5.256A4.5 4.5 0 0 1 8 12.5a4.5 4.5 0 0 1 1.544-3.393Q8.844 9.002 8 9c-5 0-6 3-6 4"/>
                    </svg>

                    <form method="post" action="/Register/Register" id="registerForm">
                        <div class="mb-3">
                            <input class="form-outline rounded w-100" type="text" name="username" id="username" placeholder="Username">
                        </div>
                        <div class="mb-3">
                            <input class="form-outline rounded w-100" placeholder="Email" type="email" id="email" name="email"/>
                        </div>
                        <div class="mb-3">
                            <input class="form-outline rounded w-100" placeholder="Password" type="password" id="password" name="password" oninput="confirmPassword()"/>
                        </div>
                        <div class="mb-3">
                            <input class="form-outline rounded w-100" placeholder="Confirm password" type="password" id="confirm_password" name="confirm_password" oninput="confirmPassword()"/>
                        </div>
                        <button class="btn btn-info w-100 mb-2" type="submit">Register</button>
                    </form>
                    <form method="get" action="/Login/Index">
                        <button class="btn btn-primary w-100 w-100" type="submit">Login</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    function confirmPassword() {
        var password = document.getElementById("password");
        var confirmPassword = document.getElementById("confirm_password");
    
        if (password.value === confirmPassword.value) {
            password.classList.remove("border-danger");
            confirmPassword.classList.remove("border-danger");
        } else {
            password.classList.add("border-danger");
            confirmPassword.classList.add("border-danger");
        }
    }
    
    function validatePassword(event) {
        console.log(event);
            var password = document.getElementById("password").value;
            var confirm_password = document.getElementById("confirm_password").value;
    
            if (password !== confirm_password) {
                alert("Passwords do not match");
                event.preventDefault();
            }
        }
        
    document.getElementById("registerForm").addEventListener("submit", validatePassword);
</script>